.button {
    padding: 10px 15px;
    background: beige;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}