* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--back-color);
  background-repeat: no-repeat;
}

.app_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5%;
}